.item-list:not(.not-parent):before {
  content: "";
  background: #0000000f;
  width: 1px;
  height: 85%;
  position: absolute;
  top: 23px;
  left: 0;
}

.bolt-icon {
  fill: red;
}

.item-tree:hover {
  @apply cursor-pointer bg-[#2188ff];
}

.item-tree:hover .item-tree-text {
  @apply text-white;
}
